<h2>Pipe</h2>
<div>
  <h3>Pipe de base</h3>
  <div>
    <h4>Pipes sur les strings</h4>
    <p>base : {{myString}}</p>
    <p>Uppercase : {{myString | uppercase}}</p>
    <p>Lowercase : {{myString | lowercase}}</p>
    <p>Titlecase : {{myString | titlecase}}</p>
  </div>
  <div>
    <h4>Pipes sur les nombres</h4>
    <p>base : {{myNumber}}</p>
    <p>Nombre arrondis : {{myNumber | number : '1.0-5'}}</p>
  </div>
  <div>
    <h4>Pipes sur les dates</h4>
    <p>base : {{myDate}}</p>
    <p>date formatée : {{myDate | date : 'dd-MM-yy' }}</p>
  </div>
</div>